<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<ol>
  <% @department.courses.each do |course| %>
    <li> <%= course.name %>
  <% end %>
</ol>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
