
<p>
  <strong>Course:</strong>
  <%= @section.course.number %>
</p>

<p>
  <strong>Section:</strong>
  <%= @section.section_number %>
</p>


<p>
  <strong>Professor:</strong>
  <%= @section.professor.name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @section.semester.semester %>
</p>

<p>
  <strong>Students:</strong>
</p>
<ol>
  <% @section.students.each do |student| %>
  <%= student.name %>
  <% end %>
</ol>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
