
  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :office %>
    <%= form.text_field :office %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
