<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @sections_student.section_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @sections_student.student_id %>
</p>

<%= link_to 'Edit', edit_sections_student_path(@sections_student) %> |
<%= link_to 'Back', sections_students_index_path %>
